
.container-fluid {
    position: relative;
    top: 100px;
    padding: 0;
    margin: 0;
}
.box {
    height: 100px;
    width: 100px;
    /* margin: 30px; */
} 
.box-block{
    background: greenyellow;
    display: inline; 
    /* margin-left: auto; */
    /* margin-right: 20px; */
}
/* .box-block .box{
     display: inline; 
 } */

.box-flex{
    background: rgb(154, 47, 255);
    display: flex;
    /* flex-direction: column; */
    margin-left: auto;
    /* margin-right: 20px; */
}
.child1{
    background: red;
    /* margin-left: auto; */
}

.child2{
    background: cyan;
}

.child3{
    background: orange;
}